section {
  min-height: 100vh;
  scroll-snap-align: center;
}

@font-face {
  font-family: "Virgula";   /*Can be any text*/
  src: local("VirgulaVulgarisBold"),
    url("./fonts/VirgulaVulgarisBold.ttf") format("truetype");
}

